/******************************************
/* CSS
/*******************************************/

*{
    box-sizing: border-box;
}
html {
    font: 16px 'Roboto', sans-serif;
}
body {
    margin-left: 40px;
    margin-top: 40px;
    background-color: #e4f2f2;
}
h1 {
    text-transform: uppercase;
    margin-left: 10px;
}
div {
    font-size: 6rem;
    text-align: center;
    line-height: 150px;
    border-radius: 15px;
}
div:hover {
    background-color: #f1f6b2;
}
button {
    padding: 15px 20px;
    border: 0px;
    border-radius: 10px;
    font-weight: bold;
}
.newGame {
    background-color: #dce46a;
}

/******************************************
/* LAYOUT
/*******************************************/
.board {
    height: 510px;
    width: 510px;
    display: flex;
    flex-flow: row wrap;
    /* border: 1px solid gray; */
}
.board > * {
    height: 150px;
    width: 150px;
    background-color: #fff;
    margin: 10px;
}
.options {
    margin-left: 10px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
